<!DOCTYPE html>
<html>
<head><title>Interview Start</title></head>
<body>
  <h2>Enter Your Info</h2>
  <form method="POST">
    <label>Name:</label><input type="text" name="name" required><br>
    <label>Choose Field:</label>
    <select name="field" required>
      <option>web development</option>
      <option>ai</option>
      <option>data analytics</option>
      <option>devops</option>
      <option>cyber security</option>
      <option>ml</option>
      <option>mobile development</option>
      <option>uiux</option>
      <option>prompt engineering</option>
      <option>data scientist</option>
    </select><br>
    <button type="submit">Start Interview</button>
  </form>
</body>
</html>
